.roles {
  display: flex;
  flex-wrap: wrap;
  gap: 0.75rem;
  width: 100%;
}

.role-box {
  flex: 1;
  min-height: 60px;
  padding: 0.5rem;
  color: var(--clr-gray-600);
  text-align: center;
  transition:
    background-color 0.25s ease,
    color 0.25s ease,
    border-color 0.25s ease;
  border-color: var(--clr-gray-600);

  input {
    position: absolute;
    opacity: 0;
    visibility: hidden;
  }

  &:hover {
    background-color: var(--clr-violet-500);
    color: var(--clr-white);
    border-color: var(--clr-transparent);
    cursor: pointer;
  }

  &:has(input:checked) {
    background-color: var(--clr-violet-500);
    color: var(--clr-white);
    border-color: var(--clr-transparent);
  }
}

.auth-error {
  color: #ef4444;
  font-size: 0.875rem;
}

.auth-submit {
  width: 100%;
}
