.roles {
  display: flex;
  flex-wrap: wrap;
  gap: 0.75rem;
  width: 100%;
}

.role-box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  height: 60px;
  padding: 0.5rem;
  border: 1px solid var(--clr-gray-600);
  border-radius: var(--radius-md);
  background-color: var(--clr-transparent);
  color: var(--clr-gray-600);
  text-align: center;
  transition:
    background-image 0.25s ease,
    color 0.25s ease,
    border-color 0.25s ease;
  cursor: pointer;
}

.role-box input {
  position: absolute;
  opacity: 0;
  visibility: hidden;
}

.role-box:hover {
  background-color: var(--clr-violet-500);
  color: var(--clr-white);
  border-color: var(--clr-transparent);
}

.role-box:has(input:checked) {
  background-color: var(--clr-violet-500);
  color: var(--clr-white);
  border-color: var(--clr-transparent);
}

.auth-error {
  margin: 0;
  color: #ef4444;
  font-size: 0.875rem;
}
