:host {
  display: block;
}

.progress-card {
  display: grid;
  gap: 0.5rem;
  padding: 1rem;
  border: 1px solid var(--clr-gray-300);
  border-radius: var(--radius-md);
  background: var(--clr-white);
}

.quiz-progress {
  height: 1rem;
  border-radius: var(--radius-lg);
  background: var(--clr-gray-200);
}

.quiz-progress .p-progressbar-value {
  border-radius: var(--radius-lg);
  background: var(--gradient-main);
}

.progress-summary {
  margin: 0;
  color: var(--clr-gray-600);
  font-size: var(--fs-300);
  font-weight: 600;
  text-align: center;
}
