:host {
  display: block;
  padding: 1rem;
}

.attempt-layout {
  display: grid;
  gap: 1rem;
  width: min(100%, 70rem);
  margin: 0 auto;
}

.attempt-main {
  display: grid;
  align-items: start;
  gap: 1rem;
  grid-template-columns: 2fr 1fr;
}

.question-column,
.sidebar-column {
  display: grid;
  gap: 1rem;
}

.spinner-container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 20rem;
}

@media (width <= 64rem) {
  .attempt-main {
    grid-template-columns: 1fr;
  }
}
