.chat-layout {
  display: flex;
  height: calc(100vh - 4.5rem);
  background: var(--clr-white);
  overflow: hidden;
}

.sidebar-aside {
  width: 320px;
  flex-shrink: 0;
  height: 100%;
  border-right: 1px solid var(--clr-gray-200);
}

@media (width < 768px) {
  .sidebar-aside {
    width: 100%;
    max-width: 320px;
  }
}

.chat-viewport {
  position: relative;
  flex: 1;
  min-width: 0;
  height: 100%;
}

@media (width < 768px) {
  .chat-viewport {
    width: 100%;
  }
}

.chat-room-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}
