:host {
  display: block;
  height: 300px;
}

.chart-placeholder {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: var(--radius-lg);
  background-color: var(--clr-gray-100);
}

.chart-placeholder-text {
  color: var(--clr-gray-400);
  font-size: var(--fs-400);
  font-family: var(--ff-heading), sans-serif;
}
