.question-attempt-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.75rem;
}

.flag {
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.4rem 0.85rem;
  border: 1px solid var(--clr-gray-300);
  border-radius: var(--radius-lg);
  background-color: var(--clr-gray-100);
  color: var(--clr-gray-600);
  font-size: var(--fs-600);
  font-weight: 500;
  line-height: 1;
}

.flagged {
  border-color: var(--clr-amber-100);
  background-color: var(--clr-amber-100);
  color: var(--clr-red-500);
}
