:host {
  display: block;
  background-color: var(--clr-gray-50);
}

.dashboard {
  display: grid;
  gap: 1.5rem;
  width: 100%;
  padding: 1.5rem;
}

.dashboard-header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 1rem;
}

.status-container {
  display: grid;
  min-height: 12rem;
  place-items: center;
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 1.5rem;
}

@media (width < 768px) {
  .charts-section {
    display: none;
  }
}
