.footer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: var(--clr-dark-blue);
  color: white;
  padding: 2rem;
}
.footer__bottom {
  text-align: center;
  margin: 1rem;
}
.footer__top {
  display: flex;
  gap: 2rem;
  justify-content: space-between;
  position: relative;
  padding: 2rem;
  @media (width < 575px) {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
.footer__top::after {
  content: '';
  position: absolute;
  top: 100%;
  left: 50%;
  width: 100vw;
  transform: translateX(-50%);
  height: 1px;
  background-color: white;
}
.footer__brand {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  @media (width < 575px) {
    justify-content: center;
    align-items: center;
  }
}
.footer__brand p {
  color: var(--clr-gray);
}
.footer__columns {
  display: flex;
  gap: 2rem;
  flex: 1;
  justify-content: space-around;
  @media (width < 575px) {
    width: 100%;
  }
}
.footer__columns a {
  color: var(--clr-gray);
}
.footer__column {
  display: flex;
  flex-direction: column;
  gap: 0.625rem;
}
