:host {
  display: block;
}

.publish-group {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  gap: 0.35rem;
}

.publish-hint {
  color: var(--clr-gray-500);
  font-size: var(--fs-300);
  white-space: nowrap;
}
