:host {
  display: block;
  font-family: var(--ff-heading), serif;
}

.dashboard-top-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  padding: 0.75rem 2rem;
  border-bottom: 1px solid var(--clr-gray-200);
  background-color: var(--clr-white);
}

.dashboard-top-bar__menu-btn {
  display: inline-grid;
  place-items: center;
  width: 2.75rem;
  height: 2.75rem;
  border: 1px solid var(--clr-gray-500);
  border-radius: var(--radius-md);
  color: var(--clr-blue-900);
  transition:
    background-color 0.2s ease-in-out,
    border-color 0.2s ease-in-out,
    color 0.2s ease-in-out;
}

.dashboard-top-bar__menu-btn:hover {
  border-color: var(--clr-violet-500);
  background-color: var(--clr-violet-500);
  color: var(--clr-white);
}
