:host {
  display: block;
}

.empty-outline-placeholder {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 1rem;
  border: 1px dashed var(--clr-gray-300);
  border-radius: var(--radius-lg);
  background-color: var(--clr-white);
  color: var(--clr-gray-500);
}
