.essay-tag {
  width: fit-content;
  margin: 0;
  padding: 0.35rem 0.85rem;
  border-radius: var(--radius-lg);
  background-color: var(--clr-blue-400);
  color: var(--clr-white);
  transition: background-color 0.3s ease;
}

.essay-tag:hover {
  background-color: var(--clr-blue-400);
}
