<section class="create-quiz container">
  <header class="header">
    <div class="content">
      <h1 class="title">Create Quiz</h1>
      <p class="subtitle">Build your quiz by adding questions below</p>
    </div>
    <div class="buttons">
      <button type="button" class="btn btn-gray">Save Draft</button>
      <button type="button" class="btn btn-green">Publish Quiz</button>
    </div>
  </header>
  <form class="metadata-form">
    <div class="field-group">
      <label class="field-label" for="quiz-title">Quiz Title</label>
      <input
        id="quiz-title"
        class="focus-green-ring"
        type="text"
        placeholder="e.g. Week 8 Assessment"
      />
    </div>

    <div class="field-group">
      <label class="field-label" for="quiz-course">Course</label>
      <select id="quiz-course" class="focus-green-ring">
        <!-- TODO We will render the courses here from the API -->
        <option selected disabled>Select course</option>
      </select>
    </div>

    <div class="field-group">
      <label class="field-label" for="quiz-description">
        Description (optional)
      </label>
      <textarea
        id="quiz-description"
        class="focus-green-ring"
        rows="3"
        placeholder="Quiz description..."
      ></textarea>
    </div>

    <div class="field-group">
      <label class="field-label" for="quiz-time-limit">
        Time Limit (minutes)
      </label>
      <input
        id="quiz-time-limit"
        class="focus-green-ring"
        type="number"
        placeholder="30"
        value="30"
      />
    </div>
  </form>
  <app-quiz-header></app-quiz-header>
  @if (quizService.numberOfQuestions() > 0) {
  <div class="questions-list">
    @for (question of quizService.quiz().questions; track question.id) {
    <div
      #questionElement
      [id]="question.id"
      class="question"
      animate.enter="element-enter"
      animate.leave="element-leave"
    >
      <app-question-header
        [index]="$index"
        [tag]="question.type"
        [question]="question"
      />
      <ng-container
        [ngComponentOutlet]="quizService.getSuitableQuestionComponent(question.type)"
        [ngComponentOutletInputs]="{ question: question }"
      ></ng-container>
    </div>
    }
  </div>
  }
  <app-add-question></app-add-question>
  @if (quizService.numberOfQuestions() === 0) {
  <app-no-questions></app-no-questions>
  }
</section>
