:host {
  display: block;
  background-color: var(--clr-gray-50);
}

.review-page {
  display: grid;
  gap: 1rem;
  width: min(100%, 76rem);
  margin: 0 auto;
  padding: 1rem;
}

.review-questions {
  display: grid;
  gap: 0.75rem;
}

.review-questions__title {
  margin: 0;
  color: var(--clr-blue-900);
  font-size: 1.1rem;
}

.review-questions__list {
  display: grid;
  gap: 0.75rem;
}

@media (width <= 40rem) {
  .review-page {
    padding: 0.75rem;
  }
}
