.features {
  padding-block: 2.5rem;
  background-color: var(--clr-gray-100);
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(350px, 100%), 1fr));
  gap: 1rem;
}

.cards app-feature-card .card-title {
  font-size: var(--fs-500);
}

.cards app-feature-card .card-content {
  color: var(--clr-gray-600);
  font-size: var(--fs-400);
  word-spacing: 3px;
}

.cards app-feature-card i {
  color: var(--clr-green-500);
}
