/* landing shared styles that will be used by all landing components contact features hero .. */

.section-heading {
  > h2,
  > p {
    margin: 2rem;
    text-align: center;
  }

  > h2 {
    font-size: var(--fs-700);
  }

  > p {
    color: var(--clr-gray-600);
    font-size: var(--fs-500);
  }
}
