:host {
  position: sticky;
  top: 0;
  z-index: 1000;
  background: rgb(255 255 255 / 70%);
  backdrop-filter: blur(14px) saturate(180%);
  background-color: var(--clr-transparent);
}

:host::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  width: 100vw;
  height: 1px;
  background: var(--clr-gray-200);
  transform: translateX(-50%);
}
header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 4rem;
  padding-inline: 0.75rem;
  font-family: var(--ff-heading);
  @media (width < 768px) {
    flex-wrap: wrap;
    height: auto;
    padding-block: 0.75rem;
  }
}

nav {
  display: flex;
  gap: 2rem;

  @media (width < 768px) {
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    margin-left: 0;
  }
}

a {
  color: var(--clr-gray-600);

  @media (width < 768px) {
    padding-left: 1rem;
  }
}
a:hover {
  color: var(--clr-black-500);
}

.header__panel {
  @media (width < 768px) {
    width: 100%;
    max-height: 0;
    padding-inline: 1rem;
    background-color: var(--clr-transparent);
    overflow: hidden;
    visibility: hidden;
  }
}

.header__panel.menu-open {
  @media (width < 768px) {
    max-height: 500px;
    padding-block: 1rem;
    visibility: visible;
  }
}

.buttons {
  position: relative;
  display: flex;
  gap: 0.625rem;

  @media (width < 768px) {
    justify-content: space-evenly;
    width: 100%;
  }
}

.buttons button {
  padding: 0.625rem;
  border-radius: var(--radius-md);
  transition: 0.3s;

  @media (width< 768px) {
    width: 40%;
  }
}

.buttons button:hover {
  color: var(--clr-white);
}

button:first-child {
  background-color: var(--clr-white);
}

button:first-child:hover {
  background-color: var(--clr-violet-500);
}

button:last-child {
  padding: 0.625rem;
  color: var(--clr-white);
  transition: transform 0.3s ease-in-out;
  background-image: var(--gradient-main);
}

button:last-child:hover {
  transform: scale(1.05);
}

.icon {
  display: none;
  padding: 0;
  border: 0;
  background: var(--clr-transparent);
  cursor: pointer;

  @media (width < 768px) {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1.5rem;
    height: 1.5rem;
    font-size: var(--fs-600);
  }
}
