@use '@angular/material' as mat;

@mixin custom-element-panel-theme() {
  .element-type-panel {
    --mat-sys-surface-container: var(--clr-gray-50);
    --mat-sys-on-surface: var(--clr-blue-900);
    --mat-sys-primary: var(--clr-green-500);

    &.mat-mdc-select-panel {
      border: 1px solid var(--clr-gray-200);
      border-radius: var(--radius-md);
      box-shadow: 0 12px 32px rgb(15 23 42 / 12%);
    }

    .mat-mdc-option:hover:not(.mdc-list-item--disabled) {
      background-color: var(--clr-gray-300);
    }

    .mat-mdc-option.mdc-list-item--selected:not(.mdc-list-item--disabled) {
      background-color: var(--clr-gray-300);
    }

  }
}

html {
  height: 100%;

  @include mat.theme((
    color: (
      primary: mat.$green-palette,
      tertiary: mat.$blue-palette,
    ),
    typography: Inter,
    density: 0,
  ));

  @include custom-element-panel-theme();
}
