@layer reset {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  /* Don't Allow Browsers To Adjust The Font */
  html {
    text-size-adjust: none;
  }

  /* For Accessibility In Safari */
  [role="list"] {
    list-style: none;
  }

  a {
    text-decoration: none;
  }

  button {
    outline: none;
    border: none;
    background: none;
    cursor: pointer;
  }

  body {
    min-block-size: 100vh;
    font-family: var(--ff-body), serif;
  }
  h1,
  h2,
  h3,
  h4 {
    text-wrap: balance;
  }

  p,
  li {
    text-wrap: pretty;
  }

  img,
  picture {
    max-inline-size: 100%;
    display: block;
  }

  input,
  button,
  textarea,
  select {
    font: inherit;
  }
}

@layer base {
  :root {
    /* Primitive color palette */
    --clr-white: #fff;
    --clr-transparent: transparent;
    --clr-red-100: #f0bfbf;
    --clr-red-500: #dc2828;
    --clr-black-100: #2f2f2f;
    --clr-black-300: #1f1f1f;
    --clr-black-500: #121212;
    --clr-black-700: #0a0a0a;
    --clr-black-900: #000;
    --clr-gray-50: #f9fafb;
    --clr-gray-100: #f2f4f6;
    --clr-gray-200: #e9ebef;
    --clr-gray-300: #e5e8eb;
    --clr-gray-500: #b9c0c4;
    --clr-gray-600: #6a7181;
    --clr-gray-800: #3d4a5a;
    --clr-blue-400: #152b39;
    --clr-blue-900: #141d2e;
    --clr-violet-500: #8254d3;
    --clr-green-100: #eaf6f3;
    --clr-green-200: #42b7a0;
    --clr-green-500: #12a588;
    --clr-cyan-500: #209db6;
    --gradient-main: linear-gradient(
      135deg,
      var(--clr-green-500),
      var(--clr-cyan-500)
    );
    --radius-lg: 15px; /* large radius */
    --radius-md: 10px; /* medium radius */
    --radius-sm: 5px; /* small radius */
    --ff-heading: "Space Grotesk", sans-serif;
    --ff-body: "Inter", sans-serif;
    --fs-300: 0.875rem;
    --fs-400: 1rem;
    --fs-500: 1.125rem;
    --fs-600: 1.25rem;
    --fs-700: 1.5rem;
    --fs-800: 2rem;
    --fs-850: 2.75rem;
    --fs-900: 3.75rem;
    --fs-1000: 3.75rem;

    @media (width > 767px) {
      --fs-700: 2rem;
      --fs-800: 3rem;
      --fs-850: 3.5rem;
      --fs-900: 5rem;
      --fs-1000: 7.5rem;
    }
  }

  .container {
    width: 100%;
    max-width: 1320px;
    margin-inline: auto;
    padding-inline: 15px;
  }

  @media (width <= 1399px) {
    .container {
      max-width: 1140px;
    }
  }

  @media (width <= 1199px) {
    .container {
      max-width: 960px;
    }
  }

  @media (width <= 991px) {
    .container {
      max-width: 720px;
    }
  }

  @media (width <= 767px) {
    .container {
      max-width: 540px;
    }
  }

  @media (width <= 575px) {
    .container {
      max-width: 100%;
    }
  }
}

@layer utilities {
  .mat-mdc-form-field-subscript-wrapper.mat-mdc-form-field-bottom-align {
    display: none;
  }

  .gradient-text {
    background: var(--gradient-main);
    background-clip: text;
    color: var(--clr-transparent);
  }

  .focus-green-ring {
    &:focus {
      outline: none;
      border: 3px solid var(--clr-green-500);
      border-radius: var(--radius-md);
    }
  }

  .btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 0.75rem;
    width: fit-content;
    min-height: 3rem;
    padding: 0.75rem 1rem;
    border: 1px solid transparent;
    border-radius: var(--radius-md);
    transition:
      background-color 0.2s ease-in-out,
      color 0.2s ease-in-out,
      border-color 0.2s ease-in-out;
  }

  .btn-green {
    background-color: var(--clr-green-500);
    color: var(--clr-white);
  }

  .btn-gray {
    background-color: var(--clr-gray-50);
    border-color: var(--clr-gray-500);
    color: var(--clr-blue-900);

    &:hover:not(:disabled) {
      background-color: var(--clr-violet-500);
      color: var(--clr-white);
    }
  }

  /* This class used to apply the fade in effect this is the state before the element intersecting the view port */
  .fade-in {
    transition:
      opacity 0.5s,
      transform 0.5s;
    transform: translateY(calc(20px + (var(--element-index, 0) * 5px)));
    opacity: 0;

    &.appear {
      transform: translateY(0);
      opacity: 1;

      /* for some cards we want them to apper one after another so we make delay based on the index */
      transition-delay: calc(0.05s * var(--element-index, 0));
    }
  }

  .delete-button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid transparent;
    border-radius: var(--radius-md);
    background-color: var(--clr-transparent);
    color: var(--clr-red-500);
    transition:
      background-color 0.3s ease,
      border-color 0.3s ease;
    inline-size: 2.5rem;
    block-size: 2.5rem;
    flex-shrink: 0;

    &:hover {
      background-color: var(--clr-red-100);
    }
  }

  /* Question Title That Existed In All Question Types */
  .element-title {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    & .element-textarea {
      width: 100%;
      min-height: 4rem;
      padding: 0.5rem;
      border: 1px solid var(--clr-gray-500);
      border-radius: var(--radius-sm);
      font-size: var(--fs-400);
      resize: vertical;
    }
  }

  /* Make removed and rendered elements by angular smooth */
  .element-enter {
    animation: element-enter 150ms ease-out;
  }

  .element-leave {
    pointer-events: none;
    animation: element-leave 150ms ease-in forwards;
  }

  @keyframes element-enter {
    from {
      transform: translateY(0.5rem) scale(0.98);
      opacity: 0;
    }

    to {
      transform: translateY(0) scale(1);
      opacity: 1;
    }
  }

  @keyframes element-leave {
    from {
      max-height: 40rem;
      margin-block: 0;
      padding-block: 1rem;
      transform: translateY(0) scale(1);
      opacity: 1;
    }

    to {
      max-height: 0;
      margin-block: -0.75rem;
      padding-block: 0;
      transform: translateY(-0.35rem) scale(0.98);
      opacity: 0;
    }
  }
}
