.no-questions {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 0.5rem;
  padding: 2rem;
  text-align: center;
}

.icon {
  color: var(--clr-gray-300);
  line-height: 1;
}

.icon i {
  font-size: 3rem;
}

.no-questions-title {
  color: var(--clr-gray-800);
  font-size: var(--fs-500);
}

.no-questions-sub-title {
  color: var(--clr-gray-600);
  font-size: var(--fs-400);
  word-spacing: 3px;
}
